.about-page{

min-height:100vh;

background:#050505;

color:white;

padding:160px 8%;

position:relative;

overflow:hidden;

}



.about-glow{

position:absolute;

width:500px;

height:500px;

background:#FFD700;

filter:blur(180px);

opacity:.12;

top:-200px;

right:-200px;

}



.about-header{

max-width:1000px;

margin:auto;

text-align:center;

}



.about-tag{

color:#FFD700;

letter-spacing:10px;

font-size:14px;

}



.about-header h1{

font-size:90px;

line-height:1;

margin:40px 0;

font-weight:800;

}



.about-header h1 span{

color:#FFD700;

}



.about-text{

max-width:700px;

margin:auto;

color:#888;

font-size:22px;

line-height:1.8;

}





.founder-wrapper{

display:flex;

justify-content:center;

margin-top:120px;

}



.founder-card{

width:700px;

padding:60px;

background:

linear-gradient(
145deg,
rgba(255,255,255,.08),
rgba(255,255,255,.02)
);


border:

1px solid rgba(255,215,0,.25);


border-radius:35px;


backdrop-filter:blur(20px);


text-align:center;


box-shadow:

0 0 80px rgba(255,215,0,.08);

}



.founder-top span{

color:#FFD700;

letter-spacing:5px;

font-size:13px;

}



.founder-card h2{

font-size:55px;

margin:25px 0;

}



.founder-card p{

color:#999;

font-size:20px;

line-height:1.8;

}



.founder-line{

height:1px;

background:#333;

margin:40px 0;

}





.stats{

display:flex;

justify-content:space-around;

}



.stats h3{

font-size:45px;

color:#FFD700;

margin:0;

}



.stats span{

color:#777;

font-size:14px;

}




.about-mission{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

max-width:1000px;

margin:100px auto 0;

}



.about-mission div{

padding:40px;

border-radius:25px;

background:#0a0a0a;

border:1px solid #222;

}



.about-mission h3{

color:#FFD700;

}



.about-mission p{

color:#888;

line-height:1.8;

}


@media(max-width:900px){

.about-header h1{

font-size:50px;

}


.stats{

flex-direction:column;

gap:30px;

}


.about-mission{

grid-template-columns:1fr;

}


}