.token-info{

padding:120px 8%;

background:#050505;

color:white;

text-align:center;

}



.token-info h2{

font-size:55px;

color:#FFD700;

}



.token-desc{

color:#888;

font-size:18px;

margin-bottom:50px;

}




.token-box{

max-width:1000px;

margin:auto;

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;

}




.token-item{

background:#111;

border:

1px solid rgba(255,215,0,.2);

border-radius:20px;

padding:30px;

}



.token-item span{

color:#777;

}



.token-item h3{

color:white;

margin-top:15px;

}



.address{

font-size:14px;

overflow:hidden;

}



.token-item button{

margin-top:15px;

background:#FFD700;

border:none;

padding:10px 25px;

border-radius:20px;

cursor:pointer;

}




.metamask-btn{

margin-top:50px;

padding:18px 45px;

border-radius:40px;

border:none;

background:#FFD700;

font-size:18px;

font-weight:bold;

cursor:pointer;

}



.metamask-btn:hover{

background:white;

}



@media(max-width:900px){

.token-box{

grid-template-columns:1fr;

}

}