.teka-reveal{


position:fixed;

inset:0;

z-index:9999;


display:flex;

justify-content:center;

align-items:center;


background:


radial-gradient(
circle,
rgba(255,42,0,.25),
transparent 35%
),


radial-gradient(
circle,
rgba(255,215,0,.15),
transparent 55%
),


#030303;



overflow:hidden;


animation:

revealFade 2.5s ease forwards;


}




/* ENERGY CORE */


.teka-core{


text-align:center;


animation:

coreAppear 1.5s ease forwards;


}



.teka-core img{


width:180px;


filter:


drop-shadow(0 0 40px #FFD700)

drop-shadow(0 0 90px #FF2A00);


animation:

coreFloat 3s ease-in-out infinite;


}




.teka-core h1{


margin:25px 0 10px;


font-size:80px;


font-weight:900;


letter-spacing:20px;



background:

linear-gradient(
90deg,
#FFD700,
#FF2A00,
#FFD700
);



background-size:200%;



-webkit-background-clip:text;


color:transparent;



animation:

goldMove 3s linear infinite;


}



.teka-core h1 span{

color:#FF2A00;

}



.teka-core p{


color:#aaa;


font-size:18px;


letter-spacing:3px;


}




/* ENERGY RINGS */


.energy-ring{


position:absolute;


border-radius:50%;


border:2px solid;


animation:

ringPulse 3s infinite;


}



.ring-one{


width:350px;

height:350px;


border-color:#FFD700;


box-shadow:

0 0 50px #FFD700;


}




.ring-two{


width:600px;

height:600px;


border-color:#FF2A00;


box-shadow:

0 0 80px #FF2A00;


animation-delay:1s;


}




/* ANIMATIONS */


@keyframes coreAppear{


from{

opacity:0;

transform:
scale(.5);

filter:
blur(20px);

}


to{

opacity:1;

transform:
scale(1);

filter:
blur(0);

}

}





@keyframes coreFloat{


0%,100%{

transform:
translateY(0);

}


50%{

transform:
translateY(-12px);

}

}




@keyframes ringPulse{


0%{

transform:
scale(.8);

opacity:.2;

}


50%{

opacity:.8;

}


100%{

transform:
scale(1.4);

opacity:0;

}

}





@keyframes goldMove{


from{

background-position:0%;

}


to{

background-position:200%;

}

}




@keyframes revealFade{


0%,80%{

opacity:1;

}


100%{

opacity:0;

visibility:hidden;

}

}