.security-page{


min-height:100vh;

background:#050505;

color:white;

display:flex;

justify-content:center;

align-items:center;

padding:120px 8%;

position:relative;

overflow:hidden;


}





.security-glow{


position:absolute;


width:700px;

height:700px;


background:#00aaff;


filter:blur(220px);


opacity:.15;


}





.security-content{


position:relative;

z-index:2;

text-align:center;

width:100%;


}





.security-tag{


color:#00aaff;

letter-spacing:12px;

font-size:14px;


}





.security-content h1{


font-size:110px;

font-weight:900;

line-height:1;

margin:40px 0;


}





.security-content h1 span{


display:block;

color:#00aaff;


}





.security-description{


font-size:23px;

color:#888;

line-height:1.8;

max-width:800px;

margin:auto;


}





.security-shield{


margin:90px auto;

width:280px;

height:280px;


border-radius:50%;


border:

2px solid #00aaff;


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


box-shadow:

0 0 100px rgba(0,170,255,.5);



animation:

shieldPulse 4s infinite;


}





.shield-icon{


font-size:70px;


}





.shield-core{


margin-top:20px;

font-size:45px;

font-weight:900;

color:#00aaff;


}





.security-cards{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;


}





.security-card{


padding:45px;


background:

rgba(255,255,255,.04);


border:

1px solid rgba(0,170,255,.2);


border-radius:30px;


backdrop-filter:blur(20px);


transition:.4s;


}





.security-card:hover{


transform:translateY(-15px);


border-color:#00aaff;


box-shadow:

0 30px 80px rgba(0,170,255,.2);


}





.security-card h2{


font-size:50px;

color:#00aaff;


}





.security-card h3{


font-size:28px;

margin:20px 0;


}





.security-card p{


color:#888;

line-height:1.7;


}





@keyframes shieldPulse{


50%{

transform:scale(1.08);

}


}





@media(max-width:900px){


.security-content h1{

font-size:60px;

}



.security-cards{

grid-template-columns:1fr;

}


}
@media(max-width:900px){


.page-title{

    font-size:55px;

}



.description{

    font-size:17px;

}



.cards{

    grid-template-columns:1fr;

}


}