.technology-page{


min-height:100vh;

background:#050505;

color:white;

padding:160px 8%;

position:relative;

overflow:hidden;

}



.tech-glow{


position:absolute;

width:500px;

height:500px;

background:#FFD700;

filter:blur(180px);

opacity:.1;

top:0;

left:50%;


}





.technology-header{


max-width:1000px;

margin:auto;

text-align:center;


}



.technology-header p{


color:#FFD700;

letter-spacing:8px;

font-size:14px;


}



.technology-header h1{


font-size:85px;

line-height:1;

margin:40px 0;


}



.technology-header h1 span{


color:#FFD700;


}




.technology-header h2{


font-size:22px;

font-weight:400;

color:#888;


}






.technology-grid{


max-width:1200px;

margin:100px auto 0;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:35px;


}




.technology-card{


padding:45px;


background:

rgba(255,255,255,.05);



border:

1px solid rgba(255,215,0,.15);



border-radius:30px;



backdrop-filter:blur(20px);



transition:.4s;



}




.technology-card:hover{


transform:translateY(-15px);



border-color:#FFD700;



box-shadow:

0 20px 50px rgba(255,215,0,.15);



}





.tech-icon{


font-size:45px;

margin-bottom:25px;


}




.technology-card h3{


font-size:30px;

margin-bottom:20px;


}





.technology-card p{


color:#888;

font-size:18px;

line-height:1.8;


}





.tech-footer{


margin-top:130px;

text-align:center;


}



.tech-footer h2{


font-size:50px;


}



.tech-footer span{


color:#FFD700;


}





@media(max-width:900px){


.technology-header h1{

font-size:45px;

}



.technology-grid{

grid-template-columns:1fr;

}



.tech-footer h2{

font-size:32px;

}


}