.contact-page{


min-height:100vh;

background:#050505;

color:white;

padding:160px 8%;

position:relative;

overflow:hidden;


}




.contact-glow{


position:absolute;

width:600px;

height:600px;

background:#FFD700;

filter:blur(200px);

opacity:.12;

right:-200px;

top:-200px;


}





.contact-header{


text-align:center;

max-width:1000px;

margin:auto;


}



.contact-header p{


color:#FFD700;

letter-spacing:10px;

font-size:14px;


}



.contact-header h1{


font-size:90px;

line-height:1;

margin:40px 0;


}



.contact-header h1 span{


color:#FFD700;


}




.contact-header h2{


font-size:23px;

font-weight:400;

color:#888;


}






.contact-container{


max-width:1200px;

margin:120px auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;


}





.contact-card{


padding:45px;


background:

linear-gradient(

145deg,

rgba(255,255,255,.08),

rgba(255,255,255,.02)

);



border:

1px solid rgba(255,215,0,.15);


border-radius:30px;


transition:.4s;


backdrop-filter:blur(20px);


}




.contact-card:hover{


transform:translateY(-15px);


border-color:#FFD700;


box-shadow:

0 30px 60px rgba(255,215,0,.15);


}




.contact-icon{


font-size:55px;

margin-bottom:25px;


}



.contact-card h3{


font-size:30px;

margin-bottom:20px;


}




.contact-card p{


color:#888;

line-height:1.8;

font-size:17px;


}





.contact-card a{


display:inline-block;

margin-top:25px;


color:#FFD700;

text-decoration:none;


}




.social-box{


max-width:900px;

margin:100px auto;


text-align:center;


padding:50px;


background:#0a0a0a;


border-radius:30px;


border:1px solid #222;


}





.social-box h2{


font-size:45px;


}





.social-links{


display:flex;

justify-content:center;

gap:25px;

margin-top:35px;


}





.social-links a{


color:white;

padding:15px 30px;


border-radius:30px;


border:1px solid #333;


text-decoration:none;


transition:.3s;


}



.social-links a:hover{


background:#FFD700;

color:black;


}




.contact-footer{


margin-top:120px;

text-align:center;


}



.contact-footer h2{


font-size:80px;

color:#FFD700;


}



.contact-footer p{


color:#777;

font-size:20px;


}





@media(max-width:900px){


.contact-header h1{

font-size:50px;

}



.contact-container{

grid-template-columns:1fr;

}



.social-links{

flex-direction:column;

}


}
.contact-card{

text-decoration:none;

color:white;

display:block;

}


.contact-card span{

display:inline-block;

margin-top:25px;

color:#FFD700;

font-weight:700;

}


.contact-card:hover span{

transform:translateX(8px);

}