.performance-page{


min-height:100vh;

background:#050505;

color:white;

display:flex;

align-items:center;

justify-content:center;

padding:120px 8%;

position:relative;

overflow:hidden;


}





.performance-glow{


position:absolute;


width:700px;

height:700px;


background:#00eaff;


filter:blur(220px);


opacity:.15;


}





.performance-content{


position:relative;

z-index:2;

text-align:center;

width:100%;


}





.performance-tag{


color:#00eaff;

letter-spacing:12px;

font-size:14px;


}





.performance-content h1{


font-size:110px;

font-weight:900;

line-height:1;

margin:40px 0;


}




.performance-content h1 span{


display:block;

color:#00eaff;


}





.performance-description{


font-size:23px;

color:#888;

line-height:1.8;

max-width:800px;

margin:auto;


}





.performance-stats{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

max-width:1000px;

margin:100px auto;


}





.performance-card{


padding:40px;


background:

rgba(255,255,255,.04);


border:

1px solid rgba(0,234,255,.2);


border-radius:30px;


backdrop-filter:blur(20px);


transition:.4s;


}





.performance-card:hover{


transform:translateY(-15px);


border-color:#00eaff;


box-shadow:

0 30px 80px rgba(0,234,255,.2);


}





.performance-card h2{


font-size:55px;

color:#00eaff;


}





.performance-card p{


color:#888;

font-size:18px;


}





.speed-core{


margin-top:80px;

display:flex;

justify-content:center;


}





.core-ring{


width:260px;

height:260px;


border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


font-size:55px;


font-weight:900;



color:#00eaff;



border:

3px solid #00eaff;



box-shadow:

0 0 80px #00eaff;



animation:

speedPulse 3s infinite;


}





@keyframes speedPulse{


0%,100%{

transform:scale(1);

}


50%{

transform:scale(1.08);

}


}





@media(max-width:900px){


.performance-content h1{

font-size:60px;

}



.performance-stats{

grid-template-columns:1fr;

}


}
@media(max-width:900px){


.page-title{

    font-size:55px;

}



.description{

    font-size:17px;

}



.cards{

    grid-template-columns:1fr;

}


}