.premium-page{


min-height:100vh;

background:#050505;

color:white;

display:flex;

align-items:center;

justify-content:center;

padding:120px 8%;

overflow:hidden;

position:relative;


}





.premium-glow{


position:absolute;

width:700px;

height:700px;

background:#FFD700;

filter:blur(220px);

opacity:.12;


}





.premium-content{


position:relative;

z-index:2;

text-align:center;

width:100%;


}




.premium-tag{


color:#FFD700;

letter-spacing:12px;

font-size:14px;


}





.premium-content h1{


font-size:100px;

line-height:1;

margin:40px 0;

font-weight:900;


}




.premium-content h1 span{


display:block;

color:#FFD700;


}





.premium-description{


font-size:24px;

color:#888;

line-height:1.8;

max-width:800px;

margin:auto;


}





.premium-cards{


margin:100px auto;


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;


}





.premium-card{


padding:45px 35px;


background:

rgba(255,255,255,.04);


border:

1px solid rgba(255,215,0,.15);



border-radius:35px;



backdrop-filter:blur(20px);



transition:.4s;


}





.premium-card:hover{


transform:

translateY(-20px);



border-color:#FFD700;



box-shadow:

0 30px 80px rgba(255,215,0,.18);


}




.premium-icon{


font-size:55px;

color:#FFD700;

margin-bottom:25px;


}





.premium-card h2{


font-size:28px;


}





.premium-card p{


color:#888;

font-size:17px;

line-height:1.7;


}





.premium-center{


margin:50px auto 0;


width:250px;

height:250px;


border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


background:#FFD700;


color:#050505;


font-size:60px;

font-weight:900;


box-shadow:

0 0 100px rgba(255,215,0,.5);


animation:

premiumFloat 4s infinite;


}





@keyframes premiumFloat{


50%{

transform:translateY(-20px);

}


}




@media(max-width:900px){


.premium-content h1{

font-size:55px;

}



.premium-cards{

grid-template-columns:1fr;

}


}
@media(max-width:900px){


.page-title{

    font-size:55px;

}



.description{

    font-size:17px;

}



.cards{

    grid-template-columns:1fr;

}


}