.tokenomics{

min-height:100vh;

background:#050505;

color:white;

padding:120px 8%;

display:flex;

flex-direction:column;

justify-content:center;

overflow:hidden;

position:relative;

}


/* GOLD BACKGROUND GLOW */

.tokenomics::before{

content:"";

position:absolute;

width:500px;

height:500px;

background:#FFD700;

filter:blur(180px);

opacity:.08;

top:20%;

left:10%;

}




.token-title{

text-align:center;

margin-bottom:80px;

position:relative;

z-index:2;

}



.token-title span{

color:#FFD700;

font-size:14px;

letter-spacing:8px;

}



.token-title h2{

font-size:55px;

letter-spacing:8px;

margin:20px 0;

}



.token-title p{

color:#888;

font-size:18px;

max-width:600px;

margin:auto;

line-height:1.8;

}





.token-wrapper{

display:flex;

justify-content:center;

align-items:center;

gap:100px;

position:relative;

z-index:2;

}






/* CHART */


.token-chart{

width:380px;

height:380px;

border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


box-shadow:

0 0 80px rgba(255,215,0,.25);


animation:

rotateChart 20s linear infinite;


}



@keyframes rotateChart{


from{

transform:rotate(0deg);

}


to{

transform:rotate(360deg);

}


}






.chart-center{

width:250px;

height:250px;

border-radius:50%;


background:#050505;


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;



border:

1px solid rgba(255,255,255,.15);


animation:

rotateReverse 20s linear infinite;


}



@keyframes rotateReverse{


from{

transform:rotate(0deg);

}


to{

transform:rotate(-360deg);

}


}




.chart-center h3{

font-size:45px;

letter-spacing:10px;

margin:0;

color:#FFD700;

}



.chart-center strong{

font-size:38px;

margin-top:10px;

}



.chart-center span{

color:#888;

font-size:14px;

letter-spacing:3px;

}





/* CARDS */


.token-list{

display:flex;

flex-direction:column;

gap:20px;

}




.token-card{


width:430px;


padding:25px 30px;


display:flex;

align-items:center;

gap:25px;



background:

rgba(255,255,255,.04);



border:

1px solid rgba(255,215,0,.15);



border-radius:25px;



backdrop-filter:blur(20px);


transition:.4s;



}



.token-card:hover{


transform:translateX(20px);


background:

rgba(255,215,0,.05);



border-color:#FFD700;



box-shadow:

0 0 30px rgba(255,215,0,.15);


}





.token-color{


width:20px;

height:20px;

border-radius:50%;


box-shadow:

0 0 20px currentColor;


}




.token-card h3{

margin:0;

font-size:20px;

}



.token-card p{

margin-top:10px;

color:#FFD700;

font-size:18px;

}



.token-card span{

color:#888;

margin-left:10px;

}






@media(max-width:1000px){


.token-wrapper{

flex-direction:column;

gap:60px;

}



.token-chart{

width:300px;

height:300px;

}



.chart-center{

width:200px;

height:200px;

}



.token-card{

width:300px;

}



.token-title h2{

font-size:35px;

}



}