.explore-page{


height:100vh;

background:#050505;

color:white;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

position:relative;


}




.explore-glow{


position:absolute;


width:700px;

height:700px;


background:#FFD700;


filter:blur(220px);


opacity:.15;



}





.explore-content{


position:relative;

z-index:2;


text-align:center;


max-width:1000px;


}





.explore-tag{


color:#FFD700;


letter-spacing:12px;


font-size:14px;


animation:fade 1.5s ease;


}




.explore-logo{


width:220px;


margin:40px auto;


filter:

drop-shadow(0 0 50px #FFD700);



animation:

float 4s infinite;


}





.explore-content h1{


font-size:110px;


font-weight:900;


line-height:1;


}



.explore-content h1 span{


color:#FFD700;


}





.explore-text{


margin:40px auto;


max-width:650px;


font-size:22px;


line-height:1.8;


color:#888;


}





.explore-buttons{


display:flex;


justify-content:center;


gap:30px;


}




.explore-buttons a{


padding:18px 45px;


border-radius:50px;


border:1px solid #FFD700;


color:white;


text-decoration:none;


transition:.4s;


}




.explore-buttons a:hover{


background:#FFD700;


color:#000;


transform:translateY(-8px);


}





.scroll{


position:absolute;


bottom:40px;


letter-spacing:6px;


color:#777;


}





.explore-particles span{


position:absolute;


width:6px;

height:6px;


background:#FFD700;


border-radius:50%;


animation:particle 8s infinite;


}





.explore-particles span:nth-child(1){

left:10%;

top:80%;

}



.explore-particles span:nth-child(2){

left:30%;

top:20%;

}



.explore-particles span:nth-child(3){

right:20%;

top:60%;

}



.explore-particles span:nth-child(4){

right:10%;

top:30%;

}



.explore-particles span:nth-child(5){

left:50%;

bottom:10%;

}




@keyframes float{


50%{

transform:translateY(-20px);

}


}





@keyframes particle{


0%{

transform:translateY(0);

opacity:0;

}


50%{

opacity:1;

}


100%{

transform:translateY(-500px);

opacity:0;

}


}





@keyframes fade{


from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:none;

}


}





@media(max-width:900px){


.explore-content h1{

font-size:60px;

}



.explore-buttons{

flex-direction:column;

}


}