.vision{


position:relative;

min-height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:100px 8%;

background:#050505;

overflow:hidden;

color:white;

}



.vision-glow{


position:absolute;

width:500px;

height:500px;

background:#FFD700;

filter:blur(180px);

opacity:.12;

}



.vision-small{


color:#FFD700;

letter-spacing:8px;

font-size:14px;

margin-bottom:40px;

}





.vision-card{


max-width:1000px;

text-align:center;

padding:70px 50px;


background:

rgba(255,255,255,0.03);


border:

1px solid rgba(255,215,0,.2);


border-radius:40px;


backdrop-filter:blur(20px);


transition:.5s;

}




.vision-card:hover{


transform:translateY(-10px);


border-color:#FFD700;


box-shadow:

0 0 50px rgba(255,215,0,.15);


}





.vision-card h2{


font-size:65px;

line-height:1.2;

margin:0;


}



.vision-card span{


color:#FFD700;

}





.vision-text{


margin-top:35px;

font-size:20px;

color:#999;

line-height:1.8;

}




@media(max-width:900px){


.vision-card h2{


font-size:38px;


}


.vision-card{


padding:40px 20px;

}


}