.vision-page{


min-height:100vh;

background:#050505;

color:white;

display:flex;

align-items:center;

justify-content:center;

padding:120px 8%;

position:relative;

overflow:hidden;


}





.vision-glow{


position:absolute;


width:800px;

height:800px;


background:#FFD700;


filter:blur(250px);


opacity:.12;


}





.vision-content{


position:relative;

z-index:2;


text-align:center;


width:100%;


}





.vision-tag{


color:#FFD700;


letter-spacing:12px;


font-size:14px;


}





.vision-content h1{


font-size:110px;


font-weight:900;


line-height:1;


margin:40px 0;


}




.vision-content h1 span{


display:block;


color:#FFD700;


}





.vision-description{


font-size:24px;


color:#888;


line-height:1.8;


max-width:850px;


margin:auto;


}





.world-core{


margin:90px auto;


display:flex;

justify-content:center;


}





.world-circle{


width:280px;


height:280px;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


font-size:120px;


background:

rgba(255,215,0,.05);



border:

2px solid #FFD700;



box-shadow:

0 0 100px rgba(255,215,0,.4);



animation:

worldFloat 5s infinite;


}





.vision-cards{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:30px;


}





.vision-card{


padding:45px;


background:

rgba(255,255,255,.04);


border:

1px solid rgba(255,215,0,.2);


border-radius:30px;


backdrop-filter:blur(20px);


transition:.4s;


}





.vision-card:hover{


transform:translateY(-15px);


border-color:#FFD700;


box-shadow:

0 30px 80px rgba(255,215,0,.2);


}





.vision-card h2{


font-size:50px;


color:#FFD700;


}





.vision-card h3{


font-size:28px;


margin:20px 0;


}





.vision-card p{


color:#888;


line-height:1.7;


}





@keyframes worldFloat{


50%{

transform:translateY(-20px) rotate(5deg);

}


}





@media(max-width:900px){


.vision-content h1{

font-size:60px;

}



.vision-cards{

grid-template-columns:1fr;

}


}
@media(max-width:900px){


.page-title{

    font-size:55px;

}



.description{

    font-size:17px;

}



.cards{

    grid-template-columns:1fr;

}


}