.ecosystem-page{


min-height:100vh;

background:#050505;

color:white;

padding:160px 8%;

position:relative;

overflow:hidden;


}



.ecosystem-glow{


position:absolute;

width:600px;

height:600px;

background:#FFD700;

filter:blur(200px);

opacity:.12;

top:-200px;

left:50%;


}





.ecosystem-header{


text-align:center;

max-width:1000px;

margin:auto;


}



.ecosystem-header p{


color:#FFD700;

letter-spacing:10px;

font-size:14px;


}



.ecosystem-header h1{


font-size:90px;

line-height:1;

margin:40px 0;


}



.ecosystem-header h1 span{


color:#FFD700;


}




.ecosystem-header h2{


color:#888;

font-size:24px;

font-weight:400;


}





.ecosystem-grid{


max-width:1200px;

margin:120px auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;


}





.ecosystem-card{


padding:45px 35px;


background:

linear-gradient(

145deg,

rgba(255,255,255,.08),

rgba(255,255,255,.02)

);



border:

1px solid rgba(255,215,0,.15);



border-radius:30px;


transition:.4s;



backdrop-filter:blur(20px);


}



.ecosystem-card:hover{


transform:

translateY(-15px)
scale(1.03);



border-color:#FFD700;



box-shadow:

0 30px 70px rgba(255,215,0,.18);



}





.ecosystem-icon{


font-size:55px;

margin-bottom:25px;


}





.ecosystem-card h3{


font-size:28px;

margin-bottom:15px;


}




.ecosystem-card p{


color:#888;

font-size:17px;

line-height:1.8;


}






.ecosystem-core{


display:flex;

justify-content:center;

align-items:center;

gap:80px;

margin-top:150px;


}





.core-circle{


width:260px;

height:260px;


border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


font-size:55px;

font-weight:800;



color:#050505;


background:#FFD700;



box-shadow:

0 0 100px rgba(255,215,0,.4);



}





.core-text{


max-width:450px;


}



.core-text h2{


font-size:45px;


}



.core-text p{


color:#888;

font-size:20px;

line-height:1.8;


}





@media(max-width:900px){


.ecosystem-header h1{

font-size:45px;

}


.ecosystem-grid{

grid-template-columns:1fr;

}



.ecosystem-core{

flex-direction:column;

text-align:center;

}


}